* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
}

#relleno {
    width: 20%; 
    height: 100vh;
    background-color: rgb(134, 134, 134);
    position: sticky;
    top: 0;
}

#all {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    width: 80%;
}

#nombre {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 5vh;
    color: #00B6FF;
}

#subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#semiCircle {
     width: 100%;
     height: 50vh;
     margin-top: 2vh;
}

#info {
    display: none;
}

.cabezera {
    background-color: #00B6FF;
    color: #fff;
    padding: 0.9vh 1vw;
}

.categoryTitle {
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

#cabezeraPie {
    margin-top: 5vh;
}

#ranking {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#cabezeraNacion, #cabezeraEscanos {
    width: 30vw;
    margin-top: 5vh;
    margin-bottom: 2.5vh;
}

.partidos {
    display: flex;
    flex-direction: column;
    width: calc(30vw + 2vw);
}

.partido {
    margin-bottom: 2.5vh;
}

.nombrePartido h6 {
    font-size: 20px;
    font-weight: 400;
}

.infoPartidoContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vh;
    width: 100%;
}

.infoPartidoContainer h6{
    font-size: 16px;
    font-weight: 400;
}

.percentContainer {
    background: #dfe1e2;
    width: 100%;
    height: 1vh;
    margin-top: 1.5vh;
    border-radius: 10px;
    z-index: 1;
}

.percent, .realPercent {
    height: 1vh;
    border-radius: 10px;
    z-index: 10;
}

#escanosNacion {
    width: 30vw;
}

.realPercent  {
    background-color: #000;
    opacity: 0.3;
    position: relative;
    bottom: 1vh;
}