* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
}

#relleno {
    width: 20vw; 
    height: 100vh;
    background-color: rgb(134, 134, 134);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#all {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    width: 80%;
}

#nombre {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 5vh;
    color: #00B6FF;
}

#subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

#info {
    display: none;
}

#datos {
    display: flex;
    margin-top: 5vh;
    align-items: center;
}

#pieChart {
    width: 12vw;
    height: 12vw;
}

#subTitles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    row-gap: 2vh;
}

#fristSubtitles, #secondSubtitles {
    display: grid;
    padding: 0 2.5vw;
    margin-top: 0;
    margin-bottom: 2vh;
    width: 90%;
    grid-template-columns: 35% 40% 25%;
}

#fristSubtitles h6 {
    font-size: 30px;
    font-weight: 300;
}

.subTitle {
    color: #00B6FF;
    font-weight: 500;
}

#secondSubtitles .subTitle {
    font-weight: 400;
}

#secondSubtitles h6 {
    font-size: 20px;
    font-weight: 300;
}

#mapChart, #mapSecond {
    width: 100%;
    height: 45vh;
    margin-top: 3vh;
}

.cabezera {
    background-color: #00B6FF;
    color: #fff;
    padding: 1vh 1vw;
}

.categoryTitle {
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

.map {
    width: 45%;
}

#maps {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}