<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Simulador Elecciones</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="//cdn.amcharts.com/lib/4/core.js"></script>
        <script src="//cdn.amcharts.com/lib/4/charts.js"></script>
        <script src="//cdn.amcharts.com/lib/4/themes/animated.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/geodata/colombiaHigh.js"></script>
        <meta charset="utf-8">
    </head>
    <body>
        <div id="container">
            <div id="relleno"></div>
            <div id="all">
                <div>
                    <h1 id='nombre'>Resultados Finales</h1>
                    <h5 id="subtitle">Elecciones Senado de la República</h5>
                </div>
                <div>
                    <div class="cabezera" id="cabezeraPie">
                        <h3 class="categoryTitle">Conformacion del senado. Escaños por partidos</h3>
                    </div>
                    <div id="semiCircle"></div>
                </div>
                <div id="ranking">
                    <div id="votosNacion">
                        <div class="cabezera" id="cabezeraNacion">
                            <h3 class="categoryTitle">Votos a nivel nacional</h3>
                        </div>
                        <div class="partidos">
                            {% for partido in partidos %}
                            <div class="partido" id="{{partido.code}}">
                                <div class="nombrePartido">
                                    <h6>{{partido.nombre}}</h6>
                                </div>
                                <div class="infoPartidoContainer">
                                    <h6 class="votosPartido"></h6>
                                    <h6 class="porcentajePartido"></h6>
                                </div>
                                <div class="percentContainer"><div class="percent" data-color="{{partido.color}}"></div></div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="escanosNacion">
                        <div class="cabezera" id="cabezeraEscanos">
                            <h3 class="categoryTitle">Escaños ganados por partido</h3>
                        </div>
                        <div class="partidos">
                            {% for partido in partidos %}
                            <div class="partido" id="{{partido.code}}Escanos">
                                <div class="nombrePartido">
                                    <h6>{{partido.nombre}}</h6>
                                </div>
                                <div class="infoPartidoContainer">
                                    <h6 class="escanosPartido"></h6>
                                    <h6 class="escanosPorcentajePartido"></h6>
                                </div>
                                <div class="percentContainer">
                                    <div class="percent" data-color="{{partido.color}}"></div>
                                    <div class="realPercent"></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="info">
            {% csrf_token %}
            <span id="votosTotales">{{votos_totales}}</span>
        </div>
        <script src="{% static 'js/index.js' %}"></script>
    </body>
</html>